body {
    background-image: url(https://images3.alphacoders.com/709/709074.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

form {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    align-items: center;
    padding-right: 50px;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0055cc;
}

.formsign {
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.formsign {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 150% 150%;
    }
    100% {
        background-size: 100% 100%;
    }
}