
.game-section {
    
    display: flex;
    align-items: center;
}

.game-details {
    flex: 1;
}

.game-image {
    text-align: center;
}

.game-image img {
    max-width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    background-color: #333; /* Background color */
    overflow: hidden;
    position: sticky; /* Set position to fixed */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index to ensure the navbar appears above other elements */
    margin: 0 auto; /* Center the navbar horizontally */
    justify-content: space-between;
    padding: 10px;
    margin-top:-10px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li h2 {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #ddd; /* Background color on hover */
    color: black; /* Text color on hover */
}

.search-bar {
    float: right;
    padding: 10px;
}

.search-bar input[type="text"] {
    padding: 6px;
    border: none;
    border-radius: 4px;
}

.search-bar button {
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

body, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #161616;
    color: #fff;  
} 


.container {
        width: 80%; /* Set your desired width here */
        /* Add other styling for your container as needed */
}


.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
}

.game-info {
    display: flex;
    margin: 20px ;
    align-items: center;
}
.game-info p {
    margin-left:30px;
}
.game-info img {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.game-details {
    flex: 1;
}

.game-details h2 {
    font-size: 24px;
}

.game-details p {
    margin-top: 10px;
}

.buy-button {
    background-color: #1b2838;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #006600;
}

.similar-games {
    margin: 40px 0;
}

.similar-game {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.similar-game img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.similar-game h3 {
    font-size: 18px;
}

.desc{
    flex-direction: row;
    flex:1;
    display:flex;
    color:white;
    font-size: 20px;

    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.descTable{
    border:none;
    border-collapse:collapse;
    text-align: left;
    margin-bottom: 60px;
    margin-top:30px;
    /* justify-content: space-between; */
}

.descTable tr td {
    padding:10px;
    color: rgb(98, 167, 245);
}

.flex-desc{
    display: flex;
    flex-direction: column;
}
.main-body{
    margin: 50px;
}


.chart-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 100px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.descTable tr p.discount {
    color: red;
}

canvas {
    display: block;
}
.main{
    margin: 0 auto;
    width: 80%;
    padding: 10px;

}

.vendorLinks {
    border: none;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 50%;
    margin-left: -70px;
   /* Set the table width to 100% */
}

.vendorLinks tr td {
    color: rgb(98, 167, 245);
    text-align: center; /* Center the text in table data cells */
}

.vendorLinks th {
    padding: 10px; /* Adjust the padding as needed */
    /* Center the text in table header cells */
    width: 33.33%; /* Set the width for evenly spaced columns */
}

.vendorLinks a {
    text-decoration: none;
    color: blueviolet;
}

.corebtn{
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    text-decoration: none;
}


.reviews ul {
    padding: 0;
}

.reviews li {
    list-style-type: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}

.reviews strong {
    display: block;
    margin-bottom: 5px;
    color: #007bff;
}

.reviews p {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
}